{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "destructuring": true,
            "classes": true,
            "forOf": true,
            "blockBindings": true,
            "arrowFunctions": true
        }
    },
    //"extends": ["airbnb","eslint:recommended", "plugin:react/recommended"],
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "quotes": [2, "single"],
        "comma-dangle":"off",
        "max-len": [1, 80, 2, {"ignoreComments": true}],
        "prop-types": [2]
        //"semi": [2, "never"]
    }
}